 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">EG Shop</h1>
                <p class="lead text-center">Emre Güvendiren tarafından geliştirilen E-Ticaret sitesine hoşgeldiniz!</p>
            </div>
        </div>
    </header>