  
  <div class="navbar bg-primary navbar-dark navbar-expand-sm">
        <div class="container">
            <div>
                <a href="/">
                    <img class="" width="30" height="30" src="~/img/logo.png" alt="">
                </a>
                <a href="/" class="navbar-brand  ml-2">EG Shop</a>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/products" class="nav-link">Urunler</a>
                </li>
                 
                  
            </ul>   
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    @* <li class="nav-item" style="margin-right: 5px;">
                        <a href="/cart" class="nav-link">Sepet</a>
                    </li> *@
                    <li class="nav-item" style="margin-right: 5px;">
                        <a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <li class="nav-item">
                        <img src="~/img/user.png" alt="" width="30" height="30" style="margin-top: 5px; margin-right: 3px;">
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Manage" class="nav-link">@User.Identity.Name.ToUpper()</a>
                        </li>
                    <li class="nav-item">
                        <form asp-controller="Account" asp-action="Logout" method="POST">
                        <input type="hidden"  value="@User.Identity.Name">
                        <button type="submit" class="btn btn-primary">Cikis Yap</button>
                        </form>
                    </li>
                }
                else{
                    <form action="/Account/Register">
                    <button type="submit" class="btn btn-outline-light btn-sm" style="margin-right: 10px;">Kayit ol</button>
                    </form>
                    <form action="/Account/Login">
                        <button type="submit" class="btn btn-outline-light btn-sm" style="margin-right: 10px;">Giris Yap</button>
                    </form>
                    <form action="/admin/login">
                        <button type="submit" class="btn btn-outline-light mr-0 btn-sm">Admin Login</button>
                    </form>
                }
            
            </ul>
        </div>
    </div>