@model Admin
@{
    DateTime dt = DateTime.Now;
    Layout="_Layout3";    
}
<div class="container-fluid">
    <div class="row">
        <h1>Merhaba , @Model.name</h1>
        <hr>
        <h4>Giriş Saati : @dt</h4>
    </div>
    
</div>







